<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>无限push.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6565FD081DC1FA860027C070</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6565FD241DC1FA860027C070</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6565FD2F1DC1FA860027C070</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
